@model List<Libro>

@foreach(Libro libro in Model){
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/@libro.Portada" alt="Card image cap" style="width:150px;height:100px">
        <div class="card-body">
            <h5 class="card-title">@libro.Titulo</h5>
            @* <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
            <a asp-controller="Libros"
            asp-action="Detalle"
            asp-route-idLibro="@libro.IdLibro" 
            class="btn btn-primary">
                Detalle
            </a>
        </div>
    </div>
}
